body {
    background-color: rgb(0, 144, 144);
    color: rgb(223, 213, 213);
    font-family: sans-serif;
}


#top {
    width: auto;
    text-align: center;
}

.header {
    margin-top: 50px ;
    font-size: 50px ;
    font-family: monospace;
}

#metabtn{
    margin: 100px;
    padding: 20px;
    font-size: 20px;
}

.App {
    font-family: monospace;
    width: auto;
    background-color: rgb(26, 25, 25);
    font-weight: 800;
    font-size: 90px;
    text-align: center;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.App2 {
    font-family: monospace;
    width: auto;
    background-color: rgb(26, 25, 25);
    font-weight: 800;
    font-size: 90px;
    text-align: center;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.final
{
    text-align: center;
}

#mintbtn {
    margin: 100px;
        padding: 20px;
        font-size: 20px;
}